<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Adicionar Contato</h1>
      <p class="text-center lead">Crie ou edite contatos abaixo</p>

      <%- include('includes/messages'); %>

      <% if(contato._id) { %>
      <form action="/contato/edit/<%= contato._id %>" method="POST">
        <% } else {%>
        <form action="/contato/register" method="POST">
          <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="mb-3">
            <label>Nome</label>
            <input name="nome" class="form-control" value="<%= contato.nome %>">
          </div>
          <div class="mb-3">
            <label>Sobrenome</label>
            <input name="sobrenome" class="form-control" value="<%= contato.sobrenome %>">
          </div>
          <div class="mb-3">
            <label>Email</label>
            <input name="email" type="email" class="form-control" value="<%= contato.email %>">
          </div>
          <div class="mb-3">
            <label>Telefone</label>
            <input name="telefone" type="tel" class="form-control" value="<%= contato.telefone %>">
          </div>

          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

    </div>

    <div class="col-lg-2"></div>

  </div>
</div>

<%- include('includes/footer'); %>